

   /* Products */ 
  .texto-esquerda{
    text-align: left;
  }

  /* App.vue */
  body {
    margin: 0;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  main {
    text-align: center;
    margin-top: 40px;
  }
  
  /* header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #f8f9fa;
    color: #ffffff;
  } */
  
  /* header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  } */
  
  .logo {
      /* line-height: 1;
      margin-right: 100px;
      margin-top: -20px; */
      width: 200px;
      height: 60px;
      left: 1rem;
      background-image: url(../logo/logo_colorido.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 -70px;
      transition: all .3s;
  }

  /* Hello.vue */

  h1, h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #35495E;
  }
  
  .buttonCadastrar{
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
  .thead-blue{
      color: #fff;
      background-color: dodgerblue;
      border-color: #35495E;
  }

